h1{
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
    justify-content: center;
}
.row > :nth-child(-n+3){
    background-color: yellow;
}
.row :last-child,
.fourth :first-child,
.fourth :nth-child(3){
    background-color: orange;
}

.calc{
    margin: auto;
    width: 200px;
    border: 2px solid black;
}
button{
    width: 50px;
    height: 50px;
}
.display,button{
    border-radius: 0;
    font-size: 20px;
}

.display{
    border-bottom: 1px solid grey;
    padding: 15px 0;
    height: 15px;
    justify-content: right;
}